*,*::after, *::before{
    box-sizing: border-box;
    text-align: center;
}
.clearfix::after {
        content: " ";
        display: block;
        clear: both;
}
body{
    font-size: 24px;
    line-height: 32px;
    color: darkslategray;
    background: #333;
}
header{
    background-color:white;
    height: 100px;
    padding: 10px;
    border: 1px solid white; 
    margin-bottom: 10px;
}
nav{
    background-color: white;
    padding: 5px;
    border: 1px solid white;
    height: 100px;
    margin-bottom: 20px;    
}
h1{
    float: bottom;
    width: 360px;
    height: 75px;
    padding: 10px;
    margin-left: 10px;
    color: darkslategray;
    background: white;
    border: 2px solid white;
}
p {
    float: bottom;
    width: 360px;
    height: 75px;
    padding: 10px;
    margin-left: 10px;
    color: darkslategray;
    background: white;
    border: 2px solid white;
} 
article {
    width: 400px;
    height: 50;
    padding: 10px;
    border: 2px solid darkslategray;
    margin-bottom: 15px;
    z-index: 3;
}
section{
    padding: 10px;
    margin-bottom: 10px;
    color: #333;
    float: right; 
    z-index: 1;  
}
#full {
    width: 100%;
    overflow: auto;
    clear: both;
    color: white;
    background: darkslategray;
    float: right;
}
#division{
    padding: 20px;
    margin-top: 20px;
    background: darkslategray;
}
.container{
    margin: 0 auto;
    margin-top: 50px;
    width: 1000px;
    color: darkslategray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
}
aside {
    width: 47%;
    height: 300px;
    padding: 15px;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid white;
    z-index: 0;
    position: sticky;
}
#left { 
    float: left;
    color: white;
    width: -150px;
    height: 300px;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid white;
}
#right {
    float: right;
    width: 25%;
    color: white;
}
#middle {
    float: left;
    width: 20%;
    color: darkslategray;
}
footer {
    padding: 20px;
    text-align: center;
    clear: both;
    background-color: white;
    border: 1px solid white;
    height: 100px;
    margin-bottom: 20px;
}
main{
    background-color: white;
    width: 700px;
    height: 400px;
    padding: 10px;
    border: 1px solid white;
}
#flow {
    width: 400px;
    clear: both;
}

  
